# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries (pandas, numpy etc)

In [1]:
import pandas as pd
import numpy as np

### Step 2. Run the below line of code to create a dictionary

In [2]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }
raw_data

{'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
 'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
 'type': ['grass', 'fire', 'water', 'bug'],
 'hp': [45, 39, 44, 45],
 'pokedex': ['yes', 'no', 'yes', 'no']}

### Step 3. Assign it to a variable called pokemon and it should be a pandas Series.

In [3]:
pokemon = raw_data
pokemon = pd.Series(raw_data) 
pokemon

name         [Bulbasaur, Charmander, Squirtle, Caterpie]
evolution      [Ivysaur, Charmeleon, Wartortle, Metapod]
type                           [grass, fire, water, bug]
hp                                      [45, 39, 44, 45]
pokedex                               [yes, no, yes, no]
dtype: object

### Step 4. If the DataFrame columns are in alphabetical order, change the order of the columns as name, type, hp, evolution, pokedex

In [4]:
#pokemon = pd.DataFrame.from_dict(pokemon) #Dict to DataFrame
pokemon=pd.DataFrame(raw_data) #Series to DataFrame
type(pokemon) #Data Type check of Pokemon = pandas.core.frame.DataFrame
pokemon.loc[:,['name','type','hp','evolution','pokedex']] #Reordered the variables/columns using loc function

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert places (lakes, parks, hills etc) of your choice.

In [5]:
#pokemon = pokemon.assign(place = ['lakes', 'hills', 'parks','desert']) # using .assign()
pokemon.loc[::,'place']=['lakes', 'hills', 'parks','desert']
pokemon

#pokemon = pokemon.loc[:,'City']= ['Delhi','Mumbai','Pune','Gurugram'] 
#Using .Loc(). But it throws an error: 'list' object has no attribute 'loc'
#Kindly help with the right syntax.

         name   evolution   type  hp pokedex   place
0   Bulbasaur     Ivysaur  grass  45     yes   lakes
1  Charmander  Charmeleon   fire  39      no   hills
2    Squirtle   Wartortle  water  44     yes   parks
3    Caterpie     Metapod    bug  45      no  desert

### Step 6. Display the data type of each column

In [6]:
pokemon.dtypes    #Data Types

name         object
evolution    object
type         object
hp            int64
pokedex      object
place        object
dtype: object

In [7]:
pokemon.info() #Print a concise summary of a DataFrame.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
name         4 non-null object
evolution    4 non-null object
type         4 non-null object
hp           4 non-null int64
pokedex      4 non-null object
place        4 non-null object
dtypes: int64(1), object(5)
memory usage: 320.0+ bytes